# ETL SINIESTROS VIALES 
# Ciudad Autonoma de Buenos Aires CABA

**Por** 

**Data Analyst**

**GABRIEL GOMEZ RESTREPO**




Para  los Datasets  este  estudio sobre los accidentes viales de la Ciudad Autonoma de Buenos Aires(CABA), Argentina.
recurrimos a consultar  la siguientes links: 

**Para siniestros**

homicidios.xlsx   ( Hechos y Victimas)

https://data.buenosaires.gob.ar/dataset/victimas-siniestros-viales

**Para poblacion por Comuna** 

PBP_CO1025.xls   (poblacion por comuna  por edad y sexo)

proy_1025_depto_caba.xls   (resumen de PBP_CO1025, poblacion por comuna y por sexo)

https://data.buenosaires.gob.ar/dataset/estructura-poblacion


http://www.indec.mecon.ar/ftp/cuadros/poblacion

**Para Bariios por Comuna** 

comunas.xlsx  (Barrios por comuna)

https://data.buenosaires.gob.ar/dataset/comunas

La revision inicial de los datos que hemos otenido requiere de su estraccion tranformacion y  finalmente Cargar o crear una nueva base de datos usando nombres auque similares para  diferenciarlos con las fuentes originales.
## Librerias 
Las siguientes librerias son las que utilice.


* **Pandas (import pandas as pd):**
Pandas es una biblioteca de Python fundamental en manejo de DataFrame que proporciona estructuras de datos flexibles y herramientas de análisis. 

* **NumPy (import numpy as np):**
NumPy es una biblioteca fundamental en Python para realizar operaciones numéricas.

* **%load_ext autoreload y %autoreload 2:**
Estos comandos son específicos de los cuadernos Jupyter y se utilizan para recargar automáticamente módulos antes de ejecutar una celda. %load_ext autoreload habilita la recarga automática de módulos, y %autoreload 2 configura la recarga automática para que sea más agresiva y recargue incluso las funciones de los módulos.

* **Warnings (import warnings):**
El módulo warnings proporciona herramientas para controlar las advertencias que emite Python. En este caso, se está configurando para ignorar las advertencias, lo cual puede ser útil para evitar que las advertencias llenen la salida de la consola y distraigan durante la ejecución del código.

In [313]:
import numpy as np
import pandas as pd
from datetime import datetime, time


## Funciones 

* **Las funciones nos ahorran tiempo:**
>Esta son las funciones que utilice, generar unas funciones para agilizar nuestras tareas es muy importante evitando muchas acciones repetitivas ademas permiten un proceso mas claro y ordenado a continuacion las relaciono:

# Funcion N°1A 'detalleA_tipos_dato(df)'

**APLICACION**

>Esta función Crea un nuevo DataFrame a partir del diccionario

In [314]:

def detalleA_tipo_dato(df):
  
    
    dic = {"campo": [], "tipoDato": []}  # Diccionario para almacenar información sobre campos y tipos de datos

    for columna in df.columns:  # Recorre cada columna en el DataFrame
        dic["campo"].append(columna)  # Agrega el nombre de la columna actual a la lista "campo"
        tipos_unicos = df[columna].apply(type).unique()  # Obtiene los tipos de datos únicos en la columna actual
        dic["tipoDato"].append(tipos_unicos)  # Agrega los tipos de datos únicos a la lista "tipoDato"

    df_tipos = pd.DataFrame(dic)  # Crea un nuevo DataFrame a partir del diccionario "dic"

    print("TIPOS DE DATOS EN EL DATAFRAME:")  # Imprime un mensaje este mensaje :"TIPOS DE DATOS EN EL DATAFRAME:"
    return df_tipos

# Funcion N°1B 'detalleB_tipos_dato(df)'

**APLICACION**

>Esta funcion selecciona los tipos para cada columna  por el criterio de objeto 

>Cuando una columna tiene un solo tipo, lo muestra 

>Cuando una columna tiene un solo tipo, y tiene nulos  lo muestra como objetos 

>Cuando una columna tiene varios tipos de datos  los clasifica como objetos 

>Con esta fucion vemos en detalle  cales son esos tipos de datos clasificados como objetos

In [315]:

#Esta función recorre las columnas de un DataFrame y muestra el tipo de dato de cada columna,
# junto con los tipos de datos únicos si la columna es de tipo objeto.
def detalleB_tipos_datos(df):
   
    for columna, tipo_dato in df.dtypes.items():  # Recorre cada par clave-valor en df.dtypes.items()
        if pd.api.types.is_object_dtype(tipo_dato):  # Si el tipo de dato actual es un tipo de objeto
            tipos_unicos = df[columna].apply(type).unique()  # Obtiene los tipos de datos únicos en la columna
            print(f"{columna}: {tipos_unicos}")  # Imprime  la columna que tiene un solo tipo de dato
        else:  # Si el tipo de dato actual no es un tipo de objeto
            print(f"{columna}: {tipo_dato}")  # Imprime  la columna y todos sus tipos de datos

# Funcion N°1C 'detalleC_tipos_dato(df)'

**APLICACION**

>Esta funcion selecciona solo las columnas con solo objetos, osea mas de un tipo de datos  

*Cuando una columna tiene un solo tipo, y tiene nulos los clasifica tambien como objetos* 

*Cuando una columna tiene varios tipos de datos los clasifica como objetos*

# Funcion N°1D 'vista_tipo_datos(df, columna)'

>Nos permite ver unas lineas de los tipos de datos y la forma como se muestran en el DataFrame 

>con el ojeto de tener mas claridad antes de desidir trasformarlos

In [316]:


def vista_tipo_datos(df, columna):
    # Crear diccionario para almacenar las muestras de filas por tipos de datos
    muestras_por_tipos = {}

    print(f"\n\nColumna: {columna}")
    # Obtener los tipos de datos únicos en la columna
    tipos_datos = df[columna].apply(lambda x: type(x) if x is not None else None).unique()
    
    for tipo in tipos_datos:
        try:
            # Filtrar las filas por tipo de dato
            if tipo is None:
                filas_tipo = df[df[columna].isnull()]
            else:
                filas_tipo = df[df[columna].apply(lambda x: isinstance(x, tipo))]                            
            # Verificar si hay filas del tipo encontrado
            if not filas_tipo.empty:
                # Guardar el tipo de dato y las primeras 5 filas en el diccionario
                muestras_por_tipos[tipo] = filas_tipo[[columna]].head(5)
        except Exception as e:
            print(f"Error procesando tipo {tipo} en columna {columna}: {e}")

    return muestras_por_tipos

In [317]:


def detalleC_tipos_datos(df):
   
    for columna, tipo_dato in df.dtypes.items():  # Recorre cada par clave-valor en df.dtypes.items()
        if pd.api.types.is_object_dtype(tipo_dato):  # Si el tipo de dato actual es un tipo de objeto
            tipos_unicos = df[columna].apply(type).unique()  # Obtiene los tipos de datos únicos en la columna
            print(f"{columna}: {tipos_unicos}")  # Imprime  la columna que tiene un solo tipo de dato
        else:  # Si el tipo de dato actual no es un tipo de objeto
            print(f" ")  # Imprime  la columna y todos sus tipos de datos


## Funcion N°2 'ver_nulos(df)'

**PROPOSITO**
>El proposito esta funvion es mostrar con relevacia las columnas que tienen nulos en  un DataFrame mortrandonos 

>el porcentaje,  adicionalmete nos muestra un cuadro de resumen total de null y notnull

In [318]:

def ver_nulos(df):
    # Crear diccionario para almacenar información sobre los nulos y no nulos
    dic = {"campo": [], "%notnull": [], "%null": [], "notnull": [], "nulos": []}      
    for columna in df.columns:  # Iterar sobre todos los campos del DataFrame df
        # Calcular el porcentaje de No nulos en la columna actual
        porcentaje_no_nulos = (df[columna].count() / len(df)) * 100
        # Llenar el diccionario
        dic["campo"].append(columna)
        dic["%notnull"].append(round(porcentaje_no_nulos, 2))      
        dic["%null"].append(round(100 - porcentaje_no_nulos, 2))
        dic["notnull"].append(df[columna].notnull().sum())
        dic["nulos"].append(df[columna].isnull().sum())             

    # Crear otro DataFrame con la información nueva 
    df_nulos = pd.DataFrame(dic)

    # Calcular los nulos en el DataFrame      
    total_nulos = df.isnull().sum().sum()  

    # Imprimir el total de valores nulos
    print(f'TOTAL NULOS DataFrame: {total_nulos}')  

    # Mostrar los campos o columnas con valores nulos y %
    campos_con_nulos = df_nulos[df_nulos["nulos"] > 0][["campo", "nulos", "%null"]].sort_values(by="%null", ascending=False)
    if not campos_con_nulos.empty:
        print("\nCAMPOS QUE TIENEN VALORES NULOS Y SU %:")       
        print(campos_con_nulos)

    # Retornar el DataFrame con la información de cada columna
    return df_nulos

## Funcion N°3 'ver_nulos_por_colref(df, colref)'

**Muestra un DataFrame con las filas donde la columna referencia elegida (colref),  tiene valores nulos**

**Esto permite  filtarar todas las columnas con el mismos'Id' esto es muy util para asociar que pasa con las celdas correspondientes. por ejemplo, ver  que los datos de otra columna podran ser utiles para llenar los nulos, o  considerar su importacia para par ver como una columna con pocoas datos, su eliminacion no, podria afentar las otras  .**

In [319]:
#  Muestra un DataFrame con las filas donde la columna referencia elegida (colref), elegida   tiene valores nulos.
#  EJEMPLO para ver nulos 'Hora' relacionada con otras columnas : ver_nulos_por_colref(df_hechos, 'Hora')[['Id', 'Hora', 'Hora entera', 'Fecha']]
# asi limitamos el numero de columnas y solo llamamos las relacionadas segun nuestro criterio 

def ver_nulos_por_colref(df, colref):
          
    if colref not in df.columns:
        raise ValueError(f"La columna '{colref}' no existe en el DataFrame")
        
    nulos = df[df[colref].isnull()]
    
    return nulos

## Funcion N°4 'def conversor_tiempo(df, columna, valor)'

In [320]:


def conversor_tiempo(df, columna, valor):
   
    def convertir_tiempo(valor):
       
        #Convierte un valor de tipo tiempo a datetime.time si es posible, truncando los microsegundos.
                
        #valor: Valor a ser convertido. Puede ser str, datetime.datetime o datetime.time.
               
        
        if isinstance(valor, str):
            try:
                # Intenta convertir el string a datetime.time
                return datetime.strptime(valor, '%H:%M:%S').time()
            except ValueError:
                try:
                    return datetime.strptime(valor, '%H:%M').time()
                except ValueError:
                    return None
        elif isinstance(valor, datetime):
            # Si es datetime.datetime, devuelve datetime.time truncando los microsegundos
            return valor.replace(microsecond=0).time()
        elif isinstance(valor, time):
            # Si es datetime.time, no es necesario hacer nada
            return valor.replace(microsecond=0)
        else:
            return None
    
    # Asigna el valor convertido a la columna especificada en el DataFrame
    df[columna] = df[columna].apply(convertir_tiempo)
    
    return df

## Funcion N°5A 'imputa_valor_por_moda(df, columna)'

*Esta función reemplaza los valores "SD" con NaN en la columna especificada,*

*luego calcula la moda (el valor más frecuente) en esa columna y utiliza ese valor*

*para imputar los valores faltantes (NaN).*

In [321]:
def imputa_valor_por_moda(df, columna):

    # Se reemplaza "SD" con NaN en la columna
    df[columna] = df[columna].replace('SD', pd.NA)

    # Se calcula el valor más frecuente en la columna
    moda = df[columna].mode().iloc[0]
    print(f'El valor mas frecuente es: {moda}')

    # Se imputan los valores NaN con el valor más frecuente
    df[columna].fillna(moda, inplace=True)

## Funcion N°5B 'Imputacion_por_colref(df, colref, col_imputadora)'

*Imputa los valores nulos de la columna de referencia (colref) utilizando los valores de otra columna (col_imputadora).*

*Además, muestra las filas donde la columna de referencia tiene valores nulos antes de la imputación.*

In [322]:
import pandas as pd

def Imputacion_por_colref(df, colref, col_imputadora):
      
    #df (pd.DataFrame): DataFrame donde se realizará la imputación.
    #colref (str): Nombre de la columna de referencia con valores nulos a imputar.
    #col_imputadora (str): Nombre de la columna cuyo valor se usará para imputar.
       
    # Verificar que las columnas existen en el DataFrame
    if colref not in df.columns:
        raise ValueError(f"La columna '{colref}' no existe en el DataFrame")
    if col_imputadora not in df.columns:
        raise ValueError(f"La columna '{col_imputadora}' no existe en el DataFrame")

    # Mostrar las filas donde la columna de referencia tiene valores nulos
    nulos = df[df[colref].isnull()]
    print(f"Filas con valores nulos en la columna '{colref}':")
    print(nulos)
    
    # Imputar los valores nulos de colref usando los valores de col_imputadora
    df[colref] = df.apply(
        lambda row: row[col_imputadora] if pd.isnull(row[colref]) else row[colref], axis=1
    )
    
    return df

# Ejemplo de uso 
# df = pd.DataFrame({'Hora': [None, '15:45:00', None], 'Hora_entera': ['12:30:00', '15:45:00', '08:00:00'], 'Fecha': ['2022-01-01', '2022-01-02', '2022-01-03']})
# df = Imputacion_por_colref(df, 'Hora', 'Hora_entera')
# print(df)

## Funcion N°5C 'imputa_edad_media_por_sexo(df)'

*Esta función reemplaza los valores "SD" con NaN en la columna 'Edad', calcula la `media` para conseguir la edad promedio*

*para cada grupo de género (Femenino y Masculino), imprime los promedios calculados y*

*luego llena los valores faltantes en la columna 'Edad' utilizando el promedio correspondiente*

*al género al que pertenece cada fila en el DataFrame.*

In [323]:
def imputa_edad_media_por_sexo(df):

    # Se reemplaza "SD" con NaN en la columna 'edad'
    df['Edad'] = df['Edad'].replace('SD', pd.NA)

    # Se calcula el promedio de edad para cada grupo de género
    promedio_por_genero = df.groupby('Sexo')['Edad'].mean()
    print(f'La edad promedio de Femenino es {round(promedio_por_genero["FEMENINO"])} y de Masculino es {round(promedio_por_genero["MASCULINO"])}')

    # Se llenan los valores NaN en la columna 'edad' utilizando el promedio correspondiente al género
    df['Edad'] = df.apply(lambda row: promedio_por_genero[row['Sexo']] if pd.isna(row['Edad']) else row['Edad'], axis=1)
    # Lo convierte a entero
    df['Edad'] = df['Edad'].astype(int)

# CREACION DATAFRAME

**EXPLICACION**
>De homicidios.xlsx sacamos  df_hechos 

>Extraemos  de Datasets/Fuente el archivo homicidios.xlsx, lo leemos y creamos el DataFrame  'df_hechos

In [324]:
df_hechos = pd.read_excel('./Datasets/Fuente/homicidios.xlsx', sheet_name='HECHOS')

**Miramos aspectos la informacion general del DataFrame y concluimos a primera vista que:** 

*Los  titulos de  columnas  algunas estan en mayusculas y otras en minusculas, hay nombres que podrian ser mas fasiles de entender por ejemplo seria mejos 'Año' que AAAA*  

*Tenemos la mayoria de las Columnas sin nulos (696) pero  TIPO_DE_CALLE, Calle, Altura, Cruce  si tienen presencia de nulos*

*Y tenemos los siguentes  tipos de datos  dtypes: datetime64[ns](1), float64(1), int64(5), object(14)*

In [325]:
df_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

## ESTANDARIZAR TITULOS

#### EXPLICACION

* MAYUSCULA   a  May-Minusclula

* AAAA   por  Año

 *Modificamos  la primera letra en mayusculas y las demas en minuscula*

 *Cambiamoa los titulos de algunas columnas  como para mejorar la fasilidad de comprension*

In [326]:
df_hechos.columns = df_hechos.columns.str.replace('_', ' ') # guiones por espacios
df_hechos.columns = [x.capitalize() for x in df_hechos.columns] #  mayúscula letra 1 y resto a minusculas
# Cambiamos algunos titulos 
df_hechos = df_hechos.rename(columns={'N victimas': 'Cantidad víctimas', 'Aaaa':'Año', 'Mm':'Mes', 'Dd':'Día',
                                      'Hh':'Hora entera', 'Xy (caba)':'XY (CABA)', 'Victima': 'Víctima'})

df_hechos.columns # oservando como quedan los titulares de las columnas

Index(['Id', 'Cantidad víctimas', 'Fecha', 'Año', 'Mes', 'Día', 'Hora',
       'Hora entera', 'Lugar del hecho', 'Tipo de calle', 'Calle', 'Altura',
       'Cruce', 'Dirección normalizada', 'Comuna', 'XY (CABA)', 'Pos x',
       'Pos y', 'Participantes', 'Víctima', 'Acusado'],
      dtype='object')

# NORMALIZAR TIPOS DE DATOS 

**EXPLICACION**
>Ya hemos notado que para este analisis no podriamos dejar df_hechos sin acomodar el tipo de datos a nuestro requerimientos  

>No, no es obligatorio en un DataFrame de pandas contar con un solo tipo de dato por columna. Pandas es una herramienta flexible que permite almacenar diferentes tipos de datos en cada columna de un DataFrame. 

Sin embargo, **en general, se recomienda tener un único tipo de dato por columna para facilitar el análisis y la manipulación de datos**. Esto se debe a que:

- **Simplicidad:** Al tener un solo tipo de dato por columna, las operaciones matemáticas y de análisis se vuelven más sencillas y directas. Pandas no necesita realizar conversiones de tipo de dato entre elementos de la misma columna, lo que mejora el rendimiento y la legibilidad del código.

- **Consistencia:** Un DataFrame con tipos de datos consistentes en cada columna facilita la comprensión de la estructura del mismo y la interpretación de los resultados de análisis. 

- **Herramientas de análisis:** Muchas herramientas y funciones de pandas están diseñadas específicamente para trabajar con un solo tipo de dato por columna. Si se mezclan tipos de datos, es posible que estas herramientas no funcionen correctamente o generen resultados inesperados.

**Excepciones:**

- **Columnas de texto:** En algunos casos, puede ser necesario tener una columna de texto (tipo `object`) para almacenar datos no numéricos, como nombres, descripciones o categorías.

- **Columnas con datos mixtos:** En situaciones específicas, puede ser útil tener una columna con datos mixtos, como números y cadenas de texto. Sin embargo, esto debe manejarse con cuidado y se recomienda evaluar si la estructura del DataFrame es la más adecuada para el análisis que se pretende realizar.

**En resumen:**

Si bien no es obligatorio tener un solo tipo de dato por columna en un DataFrame, se recomienda encarecidamente hacerlo para facilitar el análisis, la manipulación y la comprensión de los datos. Si necesita almacenar datos de diferentes tipos, considere utilizar columnas separadas o estructuras de datos alternativas, como Series de pandas o DataFrames anidados.

**VISUALIZAMOS LOS TIPOS DE DATOS DEL DATAFRAME**

>dt_hechos

*usamos la Funcion N°1B 'detalleB_tipo_dato(df)'*

*que nos permite ver todos los tipos de datos por columna*

In [327]:
detalleB_tipos_datos(df_hechos)

Id: [<class 'str'>]
Cantidad víctimas: int64
Fecha: datetime64[ns]
Año: int64
Mes: int64
Día: int64
Hora: [<class 'datetime.time'> <class 'str'> <class 'datetime.datetime'>]
Hora entera: [<class 'int'> <class 'str'>]
Lugar del hecho: [<class 'str'>]
Tipo de calle: [<class 'str'>]
Calle: [<class 'str'> <class 'float'>]
Altura: float64
Cruce: [<class 'str'> <class 'float'>]
Dirección normalizada: [<class 'str'> <class 'float'>]
Comuna: int64
XY (CABA): [<class 'str'>]
Pos x: [<class 'str'>]
Pos y: [<class 'str'>]
Participantes: [<class 'str'>]
Víctima: [<class 'str'>]
Acusado: [<class 'str'>]

### SOLO COLUMAS CON MULTIPLES TIPOS DE DATOS

 *Elegimos solo las columnas con datos multiples o tipo objeto y para eso usamos la Funcion N°1C 'detalleC_tipo_dato(df)'*

In [328]:
detalleC_tipos_datos(df_hechos)

Id: [<class 'str'>]





Hora: [<class 'datetime.time'> <class 'str'> <class 'datetime.datetime'>]
Hora entera: [<class 'int'> <class 'str'>]
Lugar del hecho: [<class 'str'>]
Tipo de calle: [<class 'str'>]
Calle: [<class 'str'> <class 'float'>]

Cruce: [<class 'str'> <class 'float'>]
Dirección normalizada: [<class 'str'> <class 'float'>]

XY (CABA): [<class 'str'>]
Pos x: [<class 'str'>]
Pos y: [<class 'str'>]
Participantes: [<class 'str'>]
Víctima: [<class 'str'>]
Acusado: [<class 'str'>]

**ANALISAMOS EL RESULTADO**


>`Hora` Esta colunna es la que tiene mas tipos de datos(3): 

*(datetime.time , datetime.datetime y str)*
 

>`'Calle', 'Cruce' y 'Dirección normalizada'`  tienen tipos de datos:

*(str y float)*

> `'Hora entera'`  tambien tiene dos tipos: 

*(str y int)*

>`'Id', 'Lugar del hecho', 'Tipo de calle',  'XY (CABA)', 'Pos x', 'Pos y', 'Participantes'`,

> `'Víctima' y 'Acusado'` tienen nulos y un solo tipo de dato:

*(null y str)*

**Vamos  la cantidad de celdas por tipo de dato de la columna  `Hora`**

In [329]:

df_hechos['Hora'].apply(type).value_counts()

Hora
<class 'datetime.time'>        608
<class 'str'>                   85
<class 'datetime.datetime'>      3
Name: count, dtype: int64

**VISTAZO**

 df_hechos['Hora']

 *Para formarnos una idea mas clara hacemos un breve pantallazo usando la  Funcion N°1D 'vista_tipo_datos(df, columna)'*

 >Asi podemos ver la forma de estos tres tipos de Datos de la columna `Hora` y es posible que tambien fifuren algunos nulos, aqui tambien se vera

# Funcion N°1D 'vista_tipo_datos(df, columna)'

In [330]:
vista_tipo_datos(df_hechos,'Hora')

Columna: Hora

{datetime.time:        Hora
 0  04:00:00
 1  01:15:00
 2  07:00:00
 3  00:00:00
 4  05:20:00,
 str:          Hora
 275  22:50:00
 276  16:40:00
 277  10:12:00
 278  09:40:00
 279  22:30:00,
 datetime.datetime:                     Hora
 439  1900-01-02 00:00:00
 441  1900-01-14 07:12:00
 496  1900-01-04 18:40:00}

**CONVERSION TIEMPO**

*Unificamos el tipo de dato ('datetime.time') para todas las celdas de la columna `Hora`*

*usando la funcion Funcion N°4 'def conversor_tiempo(df, columna, valor)'*

In [331]:
conversor_tiempo(df_hechos, 'Hora' , datetime.time)

,Id,Cantidad víctimas,Fecha,Año,Mes,Día,Hora,Hora entera,Lugar del hecho,Tipo de calle,...,Altura,Cruce,Dirección normalizada,Comuna,XY (CABA),Pos x,Pos y,Participantes,Víctima,Acusado
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

**vemos la columna 'Hora'con tipos de datos (condatetime.time)**

In [332]:
df_hechos['Hora']

0      04:00:00
1      01:15:00
2      07:00:00
3      00:00:00
4      05:20:00
         ...
691    17:10:00
692    01:10:00
693    00:43:00
694    10:30:00
695    06:10:00
Name: Hora, Length: 696, dtype: object

**Nos muestra que ha quedado un null y por eso no tiene dato**

In [333]:
df_hechos['Hora'].apply(type).value_counts()

Hora
<class 'datetime.time'>    695
<class 'NoneType'>           1
Name: count, dtype: int64

In [334]:
vista_tipo_datos(df_hechos, 'Hora')

Columna: Hora

{datetime.time:        Hora
 0  04:00:00
 1  01:15:00
 2  07:00:00
 3  00:00:00
 4  05:20:00,
 None:      Hora
 518  None}

In [335]:
ver_nulos_por_colref(df_hechos, 'Hora')[['Id', 'Hora', 'Hora entera', 'Fecha']]

            Id  Hora Hora entera      Fecha
518  2019-0103  None          SD 2019-12-18

**IMPUTANDO**

*imputamos la unica celda vacia usando  la funcion Funcion N°5A`imputa_valor_por_moda(df_hechos, 'Hora')` para garantizar que los tipos de datos*

*queden bajo nuestro criterio y no dejar nada al azar, la opcion de eliminar la fila la considere pero prefiero no perder el resto de informacion*

In [311]:
imputa_valor_por_moda(df_hechos, 'Hora')

El valor mas frecuente es: 09:00:00

# LIMITE DE CORRECION 
 hasta aqui esta garantizado el ETL bien ejecutado bajo mi criterio